/* Reset default */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 20px;
  color: #050505;

  font-weight: 500;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

/*Main-block*/
.main-block {
  height: 100%;
  background: url("../img/Clear.jpeg") center no-repeat;
}

.main-block__container {
  max-width: 1500px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.widget {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 2;
  align-items: center;

  background: linear-gradient(0deg, #ffffff, #ffffff), #000000;
  opacity: 0.8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  border-radius: 55px;
  display: none;
}

.widget__form {
  position: relative;
  min-width: 200px;
  width: 620px;
  height: 80px;
  margin: 53px 70px 95px 70px;
}
.widget__string {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    rgba(88, 88, 88, 0.74);
  opacity: 0.4;
  border-radius: 55px;

  font-size: 30px;
  font-weight: 500px;
  padding-left: 39px;
  padding-right: 100px;
  color: #fff;
}
.widget__string::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

.widget__string:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.widget__string::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

.widget__button {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: url("../img/search.svg") center no-repeat #fff;
}

.widget__button:hover {
  cursor: pointer;
  transform: translateY(-50%) scale(1.1);
  transition: 300ms;
}

.widget__notice {
  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 100px;
}

.widget__weather {
  display: flex;
  flex-direction: column;
  align-content: start;
  margin: 0 70px;
}

.weather__position {
  font-size: 40px;
  font-weight: 600;
}
.weather__temperature {
  font-size: 50px;
  font-weight: 900;
  padding: 19px 0 9px 0;
}
.weather__weather {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.weather__humidity {
  font-size: 20px;
  padding: 8px 0;
}
.weather__wind {
  font-size: 20px;
  padding-bottom: 148px;
}

.main-block__popup {
  position: relative;
  z-index: 2;
  background-color: #fff;
  max-width: 1340px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.popup__title {
  display: block;
  font-size: 30px;
  color: #000000;
  font-weight: 400;
  padding-top: 10px;
}
.popup__subtitle {
  display: block;
  font-size: 25px;
  font-weight: 300;
  line-height: 38px;
  margin: 33px 0 15px 0;
}

.popup__button {
  font-size: 25px;
  color: #0057ff;
  padding: 3px 18px;
  border-radius: 6px;
  border: 0.3px solid #000000;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.popup__button:hover {
  cursor: pointer;
  background: rgba(88, 88, 88, 0.3);
  transition: 300ms;
}

.popup__buttons {
  padding-left: 55%;
  padding-bottom: 17px;
}

@media (max-width: 1023px) {
  .widget__form {
    width: 540px;
    height: 60px;
    margin: 53px 40px 75px 40px;
  }

  .widget__weather {
    margin: 0 40px;
  }

  .weather__position {
    font-size: 34px;
  }

  .weather__temperature {
    font-size: 40px;
  }

  .weather__weather {
    font-size: 18px;
  }

  .weather__humidity {
    font-size: 18px;
    padding: 8px 0;
  }
  .weather__wind {
    font-size: 18px;
    padding-bottom: 110px;
  }

  .widget__button {
    width: 50px;
    height: 50px;
  }

  .widget__string {
    font-size: 24px;
  }
  .widget__notice {
    margin-bottom: 80px;
  }

  .popup__title {
    font-size: 24px;
  }
  .popup__subtitle {
    font-size: 18px;
  }

  .popup__button {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .widget {
    border-radius: 40px;
  }

  .widget__form {
    width: 400px;
    height: 40px;
    margin: 40px 22px 55px 22px;
  }

  .widget__weather {
    margin: 0 22px;
  }

  .weather__position {
    font-size: 26px;
  }

  .weather__temperature {
    font-size: 32px;
  }

  .weather__weather {
    font-size: 16px;
  }

  .weather__humidity {
    font-size: 16px;
    padding: 8px 0;
  }
  .weather__wind {
    font-size: 18px;
    padding-bottom: 80px;
  }

  .widget__button {
    width: 50px;
    height: 50px;
    right: 1%;
    background-color: inherit;
  }

  .widget__string {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 60px;
  }
  .widget__notice {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .popup__title {
    font-size: 18px;
  }
  .popup__subtitle {
    font-size: 16px;
  }

  .popup__button {
    font-size: 18px;
  }
}

@media (max-width: 479px) {
  .widget {
    border-radius: 30px;
  }

  .widget__form {
    width: 270px;
    height: 30px;
    margin: 30px 15px 35px 15px;
  }

  .widget__weather {
    margin: 0 15px;
  }

  .weather__position {
    font-size: 22px;
  }

  .weather__temperature {
    font-size: 28px;
    padding: 12px 0 5px 0;
  }

  .weather__weather {
    font-size: 16px;
  }

  .weather__humidity {
    font-size: 16px;
    padding: 8px 0;
  }
  .weather__wind {
    font-size: 16px;
    padding-bottom: 50px;
  }

  .widget__button {
    width: 40px;
    height: 40px;
    right: 1%;
    background-color: inherit;
    background-size: 60%;
  }

  .widget__string {
    padding-left: 10px;
    padding-right: 50px;
    font-size: 15px;
  }
  .widget__notice {
    margin-bottom: 50px;
  }

  .popup__title {
    font-size: 16px;
  }
  .popup__subtitle {
    margin: 13px 0 10px 0;
    font-size: 14px;
  }

  .popup__button {
    padding: 3px 12px;
    font-size: 14px;
  }
}
